<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Comp1004_Lesson09.Properties.Settings.Comp1004_namesConnectionString"
            connectionString="Data Source=comp1004-names.database.windows.net;Initial Catalog=Comp1004-names;Persist Security Info=True;User ID=JustinSchieck;Password=Kiraanne1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>